.surnames-cloud {
  	font-family: Verdana, Tahoma, Arial;
  	padding: 4px 4px 4px 4px;
  	letter-spacing: 3px;
  	text-decoration: none;
  	font-weight: normal;
    text-align:center;	
}
span.size1      { color: #000099; font-size: 3.6em; }
a.size1:link    { color: #000099; }
a.size1:visited { color: #000099; }

span.size2      { color: #3333CC; font-size: 3.3em; }
a.size2:link    { color: #3333CC; }
a.size2:visited { color: #3333CC; }

span.size3      { color: #006633; font-size: 3.0em; }
a.size3:link    { color: #006633; }
a.size3:visited { color: #006633; }

span.size4      { color: #993300; font-size: 2.6em; }
a.size4:link    { color: #993300; }
a.size4:visited { color: #993300; }

span.size5      { color: #CC0033; font-size: 2.3em; }
a.size5:link    { color: #CC0033; }
a.size5:visited { color: #CC0033; }

span.size6      { color: #666666; font-size: 2.0em; }
a.size6:link    { color: #666666; }
a.size6:visited { color: #666666; }

span.size7      { color: #CC9900; font-size: 1.6em; }
a.size7:link    { color: #CC9900; }
a.size7:visited { color: #CC9900; }

span.size8      { color: #999933; font-size: 1.3em; }
a.size8:link    { color: #999933; }
a.size8:visited { color: #999933; }

span.size9      { color: #000000; font-size: 1.0em; }
a.size9:link    { color: #000000; }
a.size9:visited { color: #000000; }

span.size0      { color: #000000; font-size: 0.6em; }
a.size0:link    { color: #000000; }
a.size0:visited { color: #000000; }

.surnames-list {
}

.surnames-table {
	border-width: 1px 1px 1px 1px;
	border-style: none none none none;	
	border-spacing: 2px;
}

.surnames-table tr {
}

.surnames-table td {
	padding: 3px 3px 3px 3px;
}

.places-list {
}

.places-table {
	border-width: 1px 1px 1px 1px;
	border-style: none none none none;	
	border-spacing: 2px;
}

.places-table tr {
}

.places-table td {
	padding: 3px 3px 3px 3px;
}